<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>QSTwitter</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.Twitter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Twitter</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>30</string>
	<key>NSPrincipalClass</key>
	<string>Twitter</string>
	<key>QSActions</key>
	<dict>
		<key>TwitterAction</key>
		<dict>
			<key>actionClass</key>
			<string>TwitterAction</string>
			<key>actionSelector</key>
			<string>performActionOnObject:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>QSTwitter</string>
			<key>name</key>
			<string>Twitter</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Joshua Holt</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
			<string>Web</string>
		</array>
		<key>description</key>
		<string>Posts a Tweet to your twitter account</string>
		<key>icon</key>
		<string>QSTwitter</string>
		<key>qsversion</key>
		<string>β56a7</string>
		<key>relatedBundles </key>
		<array/>
	</dict>
	<key>QSPresetAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetTwitter</string>
			<key>name</key>
			<string>Twitter</string>
			<key>source</key>
			<string>TwitterSource</string>
		</dict>
	</array>
	<key>QSRegistrationTemplate</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>TwitterAction</key>
			<string>TwitterAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.whatever</key>
			<string>TwitterSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>TwitterType</key>
			<string>TwitterSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>TwitterSource</key>
			<string>TwitterSource</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>Twitter_PrefPane</key>
			<dict>
				<key>class</key>
				<string>QSPreferencePane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>Twitter</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
